/*VIDEOS*/

.video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 3rem;
    background-color: $main-color;

}
.video__title{
    margin: 2rem;
}
.video__content{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}

.video__content iframe{
    width: 45%;
    height: 500px;
    object-fit: cover;
}

/*FOOTER*/

footer{
    padding: 3rem;
    text-align: center;
    color: $main-color;
}